*{
    box-sizing: border-box;
    font-family:Verdana, Tahoma, sans-serif;
}


.main {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    text-align: center;
    align-items: center;
    color:darkcyan
}

#startPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    padding-top: 30px;
    margin-left: 90px;
    margin-right: 90px;
    background-color: rgb(53, 197, 149);
    border-style: solid;
    height: 90%;
}

#questPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 150px;
    padding-top: 30px;
    margin-left: 90px;
    margin-right: 90px;
    background-color: rgb(53, 197, 149);
    border-style: solid;
    height: 90%;
    
}

#questOpts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    margin-left: 90px;
    margin-right: 90px;
}

#endPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgb(53, 197, 149);
    border-style: solid;
    height: 90%;
}

#highScores {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background-color: rgb(53, 197, 149);
    border-style: solid;
    font-size: xx-large;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 90px;
    margin-right: 90px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.large-font {
    font-size: 3.5em;
    text-align:center;
  }
  
  .timer {
    height: 200px;
    padding: 10px;
    color: rgb(14, 0, 0);
    text-align: center;
    justify-content: center;
  }
  
  .timer-text {
    padding: 55px;
  }
